canvas {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 1;
}

// #112F41, #068587, #4FB99F, #F2B134, #ED553B

// #393E46, #00ADB5, #FFF4E0, #F8B500, #FC3C3C

$bg-color: #393E46;
$detail-color: #00ADB5;
$thumb-color: #F8B500;
$text-color: #FFF4E0;
$emphasis-color: #FC3C3C;

body {
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
  font-family: Helvetica;
  height: 100vh;
  width: 100vw;
  margin: 5px auto;
  main {
    width: 90%;
    margin: 0 auto;

    a:hover {
      color: $emphasis-color;
    }
  }
  a {
    text-decoration: none;
    color: $text-color;
  }

  hr {
    border-color: $detail-color;
  }

  h2 {
    color: $text-color;
    font-size: 30px;
    text-transform: uppercase;
  }

  .about-header, .projects{
    h2 {
      margin-bottom: 0;
    }
  }

}

nav {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 250px;
  position: fixed;
  transform: rotate(90deg);
  left: -110px;
  margin-left: 15px;
  top: 50vh;
  text-transform: uppercase;
  span {
    transition: all 1s;
    margin: 0 2px;
    a {
      vertical-align: middle;
      color: $thumb-color;
    }
    background-color: $thumb-color;
    padding: 5px;
    width: 10px;
    overflow: hidden;
  }
  span.active, span:hover {
    a {
      color: $bg-color;
      font-weight: 700;
    }
    width: 90px;
  }
}

div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40vh;
  right: 15px;
  height: 25%;
  width: 30px;
  flex-wrap: wrap;
  p {
    box-sizing: border-box;
    margin: 2px 0;
    background-color: $thumb-color;
    width: 30px;
    height: 30px;
    font-size: 21px;
    a {
      color: $bg-color;
      vertical-align: middle;
      i {
        vertical-align: middle;
      }
    }
  }
}
section.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .text {
    text-transform: uppercase;
    h1 {
      font-size: 45px;
      color: $text-color;
    }
    h2 {
      color: $detail-color;
    }
  }
}

section.projects {
  width: 100%;
  margin: 0 auto;

  .project-box {
    display: flex;
    height: 46vh;
    justify-content: center;
  }

  .image {
    transition: all 1s;
    max-width: 50%;
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .description {
    max-width: 50%;
    height: 100%;

    div.title {
      position: relative;
      top: 30%;
      transition: all 2s;
      height: 15%;
      color: $text-color;
    }
    div.stack {
      position: relative;
      bottom: 35%;
      transition: all 2s;
      height: 15%;
      color: $text-color;
    }
    div.text {
      transition: opacity 2s;
      opacity: 0;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60%;
      overflow: scroll;
      div.links {
        i {
          color: $emphasis-color;
        }
        a:hover {
          i {
            color: $text-color;
          }
        }
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .project-box:hover {
    div.text {
      opacity: 1;
    }
    div.title {
      top: 0;
      color: $detail-color;
    }
    div.stack {
      bottom: 0;
      color: $detail-color;
    }
  }
}

section.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  div.profile-pic {
    img {
      border-radius: 50%;
      max-height: 200px;
    }
  }
  div.bio {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  div.text {
    max-width: 60%;
  }
  div.icon-links {
    color: $detail-color;
    font-size: 22px;
    margin-bottom: 24px;
    h4 {
      text-transform: uppercase;
    }
    a {
      color: $text-color;
    }
    a:hover {
      color: $emphasis-color;
    }
  }
  div.tech-box {
    p {
      color: $detail-color;
    }
  }
  div.tech, div.skills {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    i, b {
      color: $detail-color;
    }
    span {
      padding: 10px 0;
      width: 25%;
    }
    img {
      height: 16px;
      vertical-align: middle;
    }
  }
}
