canvas {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 1;
}

// #112F41, #068587, #4FB99F, #F2B134, #ED553B

// #393E46, #00ADB5, #FFF4E0, #F8B500, #FC3C3C

$bg-color: #393E46;
$detail-color: #00ADB5;
$thumb-color: #F8B500;
$text-color: #FFF4E0;
$emphasis-color: #FC3C3C;

body {
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 5px auto;
  main {
    width: 90%;
    margin: 0 auto;

    a:hover {
      color: $emphasis-color;
    }
  }
  a {
    text-decoration: none;
    color: $text-color;
  }

  hr {
    border-color: $detail-color;
    margin: 0;
  }

  h2 {
    color: $text-color;
    font-size: 30px;
    text-transform: uppercase;
  }

  .about-header, .projects{
    h2 {
      margin-bottom: 0;
    }
  }

}

nav {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 310px;
  position: fixed;
  transform: rotate(90deg);
  left: -135px;
  margin-left: 15px;
  top: 50vh;
  text-transform: uppercase;
  span {
    transition: all 1s;
    margin: 0 2px;
    background-color: $thumb-color;
    overflow: hidden;
    width: 10px;
    padding: 0 5px;
    position: relative;
    b {
      width: 0;
      background-color: $emphasis-color;
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 4px;
      font-size: 0;
      // overflow: hidden;
      // margin: 0 5px;
      // padding: 0 5px;
      transition: all 0;
    }
    a {
      line-height: 40px;
      padding: 5px;
      color: $thumb-color;
    }
  }
  span.active, span:hover {
    font-weight: 700;
    a {
      color: $bg-color;
      font-size: 22px;
    }
    width: 130px;
  }
}

div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40vh;
  right: 20px;
  height: 210px;
  width: 30px;
  flex-wrap: wrap;
  p {
    box-sizing: border-box;
    margin: 2px 0;
    background-color: $thumb-color;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 31px;
    font-weight: bold;
    line-height: 21px;
    a {
      color: $bg-color;
      vertical-align: middle;
      i {
        vertical-align: middle;
      }
    }
  }
}
section.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .text {
    text-transform: uppercase;
    h1 {
      font-size: 45px;
      color: $text-color;
    }
    h2 {
      color: $detail-color;
    }
  }
}

section.projects {
  width: 100%;
  margin: 0 auto;

  .project-box {
    display: flex;
    height: 100vh;
    justify-content: space-between;
  }
  .project-box:nth-child(odd){
    flex-direction: row-reverse;
  }

  div.image {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    div.mainImage {
      transition: all 1s;
      height: 60%;
      min-width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-bottom: 5px;
    }

    article.image-thumbs {
      height: 20%;
      width: 100%;
      overflow: auto;
      display: flex;
      img.thumb {
        margin-right: 10px;
        max-height: 100%;
        max-width: 220px;
        opacity: 0.3;
        transition: opacity 1s;
      }
      img.active {
        opacity: 1;
      }
    }
  }

  .description {
    max-width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div.title {
      position: relative;
      top: 30%;
      transition: all 1s;
      height: 15%;
      color: $text-color;
      margin-top: 5%;
      font-size: 28px;
    }
    div.stack {
      position: relative;
      bottom: 35%;
      transition: all 1s;
      height: 15%;
      color: $text-color;
    }
    div.text {
      transition: opacity 1s;
      opacity: 0;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      overflow: scroll;
      text-align: justify;
      p {
        line-height: 20px;
      }
      div.links {
        i {
          color: $emphasis-color;
        }
        a:hover {
          i {
            color: $text-color;
          }
        }
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .project-box:hover {
    div.text {
      opacity: 1;
      transition: opacity 2s;
    }
    div.title {
      top: 5%;
      color: $detail-color;
    }
    div.stack {
      bottom: 2%;
      color: $detail-color;
    }
  }
}

section.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  div.profile-pic {
    img {
      border-radius: 50%;
      max-height: 200px;
    }
  }
  div.bio {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  div.text {
    max-width: 60%;
  }
  div.icon-links {
    color: $detail-color;
    font-size: 22px;
    margin-bottom: 24px;
    h4 {
      text-transform: uppercase;
    }
    a {
      color: $text-color;
    }
    a:hover {
      color: $emphasis-color;
    }
  }
  div.tech-box {
    p {
      color: $detail-color;
    }
  }
  div.tech, div.skills {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    i, b {
      color: $detail-color;
    }
    span {
      padding: 10px 0;
      width: 25%;
    }
    img {
      height: 16px;
      vertical-align: middle;
    }
  }
}
