body {
  text-align: center;
  background-color: #1b1a28;
  color: #90b3d3;
  font-family: helvetica;
  height: 97vh;
  width: 97vw;
  margin: 5px auto;
}

section.header{
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 18px;
  }
  .avatar {
    border-radius: 50%;
    max-height: 200px;
  }
}
// each section will have a set height of 100vh
// hover over image will will expand it with project name and dates on it


section.projects{
  width: 95%;
  margin: 0 auto;
  .project-box {
    display: flex;
    height: 350px;
  }
  .image{
    transition: all 1s;
    max-width: 50%;
    img{
      width: 100%;
    }
  }
  .description{
    max-width: 50%;
    height: 350px;
    div.title {
      position: relative;
      top: 20%;
      transition: all 2s;
    }
    div.stack{
      position: relative;
      bottom: 30%;
      transition: all 2s;
    }
    div.text{
      transition: opacity 2s;
      opacity: 0;
      width: 95%;
      margin: 0 auto;
    }
  }
  .project-box:hover{
    div.text{
      opacity: 1;
    }
    div.title {
      top: 0;
    }
    div.stack {
      bottom: 0;
    }
  }
  .odd{
    float: left;
  }
  .even{
    float: right;
  }
}
