section.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  div.bio {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    img {
      width: 25%;
      border-radius: 50%;
      margin-top: 35px;

    }
    div.text {
      width: 65%;
    }
  }
  div.icon-links {
    color: $detail-color;
    font-size: 22px;
    h4, p {
      margin: 10px 0;
    }
    h4 {
      text-transform: uppercase;
    }
    a {
      color: $text-color;
    }
    a:hover {
      color: $emphasis-color;
    }
  }
  div.tech-box {
    p {
      color: $detail-color;

    }
    div.tech, div.skills {
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      text-align: center;
      i, b {
        color: $detail-color;
        font-size: 40px;
      }
      span {
        font-size: 14px;
        padding: 10px 0;
        width: 25%;
      }
      img {
        height: 40px;
        // vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 600px){
  section.about {
    height: auto;
    div.bio {
      width: 100%;
      img {
        width: 40%;
      }
      div.text {
        width: 100%;
      }
    }
    div.tech-box {
      div.tech, div.skills {
        span {
          font-size: 14px;
        }
      }
    }
    div.icon-links {
      font-size: 20px;
    }
  }
}
