$bg-color: #393E46;
$detail-color: #00ADB5;
$thumb-color: #F8B500;
$text-color: #FFF4E0;
$emphasis-color: #FC3C3C;

// #112F41, #068587, #4FB99F, #F2B134, #ED553B

// #393E46, #00ADB5, #FFF4E0, #F8B500, #FC3C3C
