section.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .text {
    text-transform: uppercase;
    h1 {
      font-size: 45px;
      color: $text-color;
    }
    h2 {
      color: $detail-color;
      font-size: 30px;
    }
  }
}

/* Media Queries */


@media screen and (max-width: 800px) {
  section.header {
    .text {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}
