nav {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 310px;
  position: fixed;
  transform: rotate(90deg);
  left: -155px;
  margin-left: 15px;
  text-transform: uppercase;
  z-index: 5;
  span {
    transition: all 1s;
    margin: 0 2px;
    background-color: $thumb-color;
    overflow: hidden;
    width: 10px;
    padding: 0 5px;
    position: relative;
    font-weight: 700;
    b.progress {
      background-color: $emphasis-color;
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 4px;
      font-size: 0;
      overflow: hidden;
    }
    a {
      line-height: 40px;
      padding: 5px;
      color: $thumb-color;
      font-size: 22px;
    }
  }

  span.active, span:hover {
    a {
      color: $bg-color;
    }
    cursor: pointer;
    width: 130px;
  }
}

@media screen and (max-width: 600px) {
  // check app.js for responsive code
  nav {
    transform: rotate(0deg);
    margin-left: 0;
    height: 20px;
    position: absolute;
    span, span.active {
      width: 130px;
      a {
        padding: 0;
        color: $bg-color;
        font-size: 14px;
        line-height: 20px;
      }
      opacity: 0.5;
    }
    span.active, span:hover {
      opacity: 1;
   }
  }
}
