section.projects {
  width: 100%;
  margin: 0 auto;

  .project-box {
    display: flex;
    height: 100vh;
    justify-content: space-between;
  }
  .project-box:nth-child(odd){
    flex-direction: row-reverse;
  }

  div.image {
    width: 65%;
    display: flex;
    flex-wrap: wrap;

    div.mainImage {
      transition: all 1s;
      height: 75%;
      min-width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-bottom: 5px;
    }

    article.image-thumbs {
      height: 20%;
      width: 100%;
      overflow: auto;
      display: flex;
      img.thumb {
        margin-right: 10px;
        max-height: 100%;
        max-width: 220px;
        opacity: 0.3;
        transition: opacity 1s;
      }
      img.active {
        opacity: 1;
      }
    }
  }

  .description {
    max-width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div.title {
      position: relative;
      top: 30%;
      transition: all 1s;
      height: 15%;
      color: $text-color;
      margin-top: 5%;
      font-size: 28px;
    }
    div.stack {
      position: relative;
      bottom: 35%;
      transition: all 1s;
      height: 15%;
      color: $text-color;
    }
    div.text {
      transition: opacity 1s;
      opacity: 0;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      overflow: scroll;
      text-align: justify;
      p {
        line-height: 20px;
      }
      div.links {
        i {
          color: $emphasis-color;
        }
        a:hover {
          i {
            color: $text-color;
          }
        }
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .project-box:hover {
    div.text {
      opacity: 1;
      transition: opacity 2s;
    }
    div.title {
      top: 5%;
      color: $detail-color;
    }
    div.stack {
      bottom: 2%;
      color: $detail-color;
    }
  }
}
@media screen and (max-width: 600px) {
  .hr-projects {
    visibility: hidden;
  }

  section.projects {
    margin-top: 20px;

    .project-box{
      flex-wrap: wrap;

      .image {
        justify-content: flex-start;
        width: 100%;
        height: 50vh;

        .mainImage {
          height: 35vh;
          width: 100%;
        }
      }
    }

    article.image-thumbs {
      height: 15vh;
    }

    .project-box:hover, .project-box {
      div.description {
        max-width: 100%;
        height: 50vh;

        div.title {
          display: block;
          top: 0;
          margin: 0;
          height: auto;
          color: $detail-color;
          font-size: 24px;
          h3 {
            margin: 0;
          }
        }

        div.stack {
          bottom: 5%;
          height: auto;
          color: $detail-color;
        }

        div.text {
          opacity: 1;
          width: 100%;
          height: 35vh;
          justify-content: space-between;
          overflow: auto;
          
          p {
            line-height: 18px;
          }
        }
      }
    }
  }
}
